<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				body{
				background-color:Lavender
				}
				.box1{text-align:left;height:300px;line-height:20px;}
				.pic1{width:400px;height:300px;float:right;}
				.pic1{width:100%}
				.text1{style="vertical-align:middle"；float:right}
				.box2{text-align:right;line-height:20px;}
				.pic2{width:600px;height:300px;float:right;}
				.pic2{width:100%}
				.text2{text-align:center;vertical-align:middle;float:left}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/work">Work</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mickilove@126.com.com">email</a></li>
	        		<li><a href="https://github.com/micki0519">github.com/</a></li>
				</ul>
			</footer>
			<div class="wrap">
				<audio autoplay="autoplay" src="helene.mp3"></audio>
			</div>
		</body>
	</html>
