<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<style>
				body{
				background-color:AliceBlue
				}
				
				.box1{width:800px;margin:0 auto;text-align:right;line-height:200px;}
				.pic1{width:400px;height:300px;float:left;}
				.pic1{width:100%;}
				.text1{width:350px;float:right;}
				.text1 p{text-indent:2em;}
				
				.box2{width:800px;margin:0 auto;text-align:right;line-height:200px;}
				.pic2{width:400px;height:300px;float:right;}
				.pic2{width:100%;}
				.text2{width:350px;float:left;}
				.text2 p{text-indent:2em;}
			</style>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
	        		<li><a href="/work">Work</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mickilove@126.com.com">email</a></li>
	        		<li><a href="https://github.com/micki0519">github.com/</a></li>
				</ul>
			</footer>
			<div class="wrap">
				<audio autoplay="autoplay" src="helene.mp3"></audio>
			</div>
		</body>
	</html>
